@model IEnumerable<BlogUILayer.Models.EmpInfoModel>
@{
    ViewBag.Title = "Home";
    string loggedInUserName = Session["EmailId"] as string;
}


<div class="container p-2">

    <h2 class="ms-3">Welcome, @loggedInUserName!</h2>
    <!-- Add Button -->
    <a href="@Url.Action("Create", "Admin")" class="btn btn-primary mb-3 ms-3">Add New</a>
    <h2>Employee List</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Date of Joining</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.EmailId</td>
                    <td>@employee.Name</td>
                    <td>@employee.DateOfJoining.ToString("yyyy-MM-dd")</td>
                    <td>
                        @* Edit Button: Link to an action for editing *@
                        <a href="@Url.Action("EditEmployee", "Admin", new { email = employee.EmailId })" class="btn btn-primary">Edit</a>

                        @* Delete Button: Form for submitting a delete request *@
                        <form action="@Url.Action("DeleteEmployee", "Admin")" method="post" style="display: inline;">
                            @Html.Hidden("email", employee.EmailId)
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>